a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

span {
    color: white;
}

.arrow {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-right: 2px solid #FFF;
    border-top: 2px solid #FFF;
    rotate: 135deg;
    transition: .25s all;
}