button {
    color: white;
    border-radius: 400px;
    background: none;
    border: 2px solid white;
}

button span {
    font-weight: bold;
}

.big {
    width: 15rem;
    padding: 0.6rem;
}

.big span {
    font-size: 1rem;
}

.big--call-2-action {
    background-color: #1C3458;
    border: 2px solid #26487c;
    width: 15rem;
    padding: 0.6rem;
}

.big--call-2-action span {
    font-size: 1rem;
}

.small--call-2-action {
    background-color: #1C3458;
    border: 2px solid #26487c;
    padding: 0.4rem 1rem;
}

.small--call-2-action span {
    font-size: 0.8rem;
}

.big--borderless {
    border: none;
}

.big-borderless span {
    font-size: 1.5rem;
}


.small--borderless {
    border: none;
}

.small--borderless span {
    font-size: 0.8rem;
}